@page "/"

<PageTitle>Index</PageTitle>

<PageTitle>home</PageTitle>
<style>
    .jumbobg {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: dodgerblue;
        color: yellow;
        border-radius: 1rem;
    }
</style>
<br />
<div class="text-center">
    <div class="jumbotron-fluid text-center jumbobg">
        <h2>The Movie Store</h2>
        <p>
            One store for all the movies
        </p>
    </div>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            
            <div class="col-lg">
                <h1 class="display-6 fw-bold text-body-emphasis lh-1 mb-5">Unlimited movies, TV shows, and more </h1>
                <p class="lead mb-3">Ready to watch? <a href="/login">Sign In</a> and order your movies today. </p>
                <p class="lead">Don't have an account? <a href="/signup">Sign Up</a></p>
                

            </div>
        </div>
    </div>
</div>



