@*@inject NavigationManager uriManager
<!--https://havit.blazor.eu/components/HxNavbar-->
<HxNavbar ColorMode="ColorMode.Dark" Color="ThemeColor.Warning">
    <HxNavbarBrand>The Movie Store</HxNavbarBrand>
    <HxNavbarToggler />
    <HxNavbarCollapse>
        <HxNav CssClass="me-auto mb-2 mb-lg-0">
            <HxNavLink Href="">Home</HxNavLink>
            <HxNavLink Href="#">News</HxNavLink>
            <HxNavLink Href="/showorders">Orders</HxNavLink>
            <HxDropdown>
                <HxDropdownToggleElement ElementName="a" Caret="true"
                                         role="button">Movies</HxDropdownToggleElement>
                <HxDropdownMenu>
                    <HxDropdownItemNavLink Href="addmoviepic">Add Picture</HxDropdownItemNavLink>
                    <HxDropdownItemNavLink Href="addnewmovie">Add Movie</HxDropdownItemNavLink>
                    <HxDropdownItemNavLink Href="addbulkmovies">Bulk Add Movies</HxDropdownItemNavLink>
                    <HxDropdownDivider />
                    <HxDropdownItemNavLink Href="showmovies">Show Movies</HxDropdownItemNavLink>
                </HxDropdownMenu>
            </HxDropdown>
            <HxNavLink Href="/viewcart">View Cart</HxNavLink>
            <HxNavLink Href="/signup">Register</HxNavLink>
            <HxNavLink Enabled="false">Disabled</HxNavLink>
        </HxNav>
        <EditForm Model="@query">
            <div class="d-flex">
                <HxSubmit Color="ThemeColor.Primary" OnClick="Login" Outline="true">Sign In</HxSubmit>
                <div style="width: 10px;"></div>
                <HxInputText CssClass="me-2" Placeholder="Search" @bind-Value="@query" />
                <HxSubmit Color="ThemeColor.Success" Outline="true">Search</HxSubmit>
            </div>

        </EditForm>
    </HxNavbarCollapse>
</HxNavbar>


@code {
    private string query = String.Empty;

    async void Login() => uriManager.NavigateTo("login");
}
*@